/* Import Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Dancing+Script|Ubuntu|Roboto:400,700);

/* Reset some default styles for compatibility */
body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

/* Apply a background image to the body */
body {
  font-family: "Ubuntu", sans-serif;
}

a.anchor {
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden;
}

/* Style the navigation bar */
.navbar {
  background-color: #333;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
}

/* Style the navigation brand within the .navbar-header */
.navbar-header .navbar-brand {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  font-size: 2em;
  color: gold; /* Goldish color for the brand */
}


/* Style the navigation links */
.navbar-collapse ul.nav.navbar-nav li a {
  color: white; /* White color for the links */
  font-weight: bold;
  font-size: 15px; /* Adjust font size as needed */
  text-transform: uppercase; /* Convert text to uppercase */
  margin: 0 15px; /* Add space between the links */
  transition: color 0.3s; /* Smooth color transition on hover */
}

/* Style the active link */
.navbar-collapse ul.nav.navbar-nav li.active a {
  background-color: rgb(255, 255, 255); /* Background color for the active link */
  color: #333; /* Text color for the active link */
  border-radius: 5px; /* Rounded corners */
  padding: 8px 15px; /* Add padding to the active link */
}

/* Change link color on hover */
.navbar-collapse ul.nav.navbar-nav li a:hover {
  color: rgba(255, 217, 0, 0.438); /* Change text color on hover */
}


/* Add padding to the splash section */
#splash {
  padding: 100px 0;
  background-image: url(https://raw.githubusercontent.com/hash004/freecodecamp/master/portfolioPage/images/home.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  margin-top: 50px;
  padding-top: 15%;
  padding-bottom: 50px;
  color: #fff;
  font-size: 3em;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.5),
               0px 18px 23px rgba(0,0,0,0.1);
}

#splash h1 {
  font-size: 2em;
}

#splash a {
  color: #fff;
}

#splash a:hover {
  color: #e7e7e7;
}

/* Custom CSS for Eye-Catching "I'm a" Text */
#splash .text {
  font-size: 1em;
  font-weight: bold;
  color: #abce12; /* Eye-catching color, you can adjust this */
}

/* Style the about section with background image */
#about {
  background-image: url(https://raw.githubusercontent.com/hash004/freecodecamp/master/portfolioPage/images/about.jpg);
  background-position: center;
  background-size: cover;
  background-color: #fff;
  padding: 50px 0;
  color: #fff;
}

#about h1 {
  font-size: 5em;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.5),
               0px 18px 23px rgba(0,0,0,0.1);
}

#about p {
  font-size: 1.5em;
  text-align: justify;
}

#about img {
  padding: 10px;
  /*max-width: 180px;*/
}

/* Style the portfolio section with background image */
#portfolio {
  background-color: #f0f0f0;
  padding: 50px 0;
  background-image: url(https://raw.githubusercontent.com/hash004/freecodecamp/master/portfolioPage/images/portfolio.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#portfolio h1 {
  font-size: 5em;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.5),
               0px 18px 23px rgba(0,0,0,0.1);
}

.thumbnail {
  position: relative;
}

.thumbnail h3 {
  font-size: 20px;
  color: #333;
}

.thumbnail img {
  min-height: 250px;
  min-width: 300px;
}

.thumbnail-hover {
  position: absolute;
  top: 2px;
  left: 2px;
  height: 99%;
  width: 99%;
  opacity: 0;
  transition: 2s;
}

.thumbnail-hover:hover {
  top: 2px;
  left: 2px;
  position: absolute;
  height: 99%;
  width: 99%;
  background-color: rgba(0,0,0,0.8);
  margin: 0 auto;
  transition: 0.5s;
  opacity: 1;
  padding-top: 30%;
  border-radius: 5px;
}

.thumbnail-hover i {
  text-decoration: none;
  color: white;
}

/* Style the services section */
#services {
  background: color #f5f5f5;
  padding: 50px 0;
  text-align: center;
}

.service-card {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  transition: transform 0.3s;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.service-icon {
  background-color: #337ab7;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

.service-icon i {
  color: #fff;
  font-size: 24px;
}

.service-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
  display: none; /* Hide by default */
}

.service-icon:hover {
  background-color: #286090;
}

.service-description {
  font-size: 16px;
  color: #666;
  display: none; /* Hide by default */
}

.service-card:hover .service-title,
.service-card:hover .service-description {
  display: block; /* Show on hover */
}

/* Style the contact section with background image */
#contact {
  background-color: #f0f0f0;
  padding: 50px 0;
  background-image: url(https://raw.githubusercontent.com/hash004/freecodecamp/master/portfolioPage/images/contact.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  height: 100%;
}

#contact h1 {
  font-size: 5em;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.5),
               0px 18px 23px rgba(0,0,0,0.1);
}

/* Style the social icons in the contact section */
#contact h2 {
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.5),
               0px 18px 23px rgba(0,0,0,0.1);
}

/* Style the location address */
address {
  font-size: 1.5em;
  color: #fff;
  font-weight: bold;
}

#contact .fa-stack {
  color: #333;
}

#contact .fa-stack:hover .fa-stack-1x {
  color: #333;
  transition: 0.5s;
}

#contact .fa-stack:hover .fa-stack-2x {
  color: #fff;
  transition: 0.5s;
}

#contact a {
  text-decoration: none;
}

hr {
  width: 25%;
}

/* Style the map iframe */
.embed-responsive {
  margin-top: 20px;
}

/* Responsive styles */
@media (max-width: 767px) {
  /* Adjust font sizes and padding for smaller screens */
  #splash h1 {
    font-size: 28px;
  }

  #splash p a {
    font-size: 20px;
  }

  /* Make the navigation bar collapse for smaller screens */
  .navbar-toggle {
    background-color: #333;
  }

  .navbar-toggle .icon-bar {
    background-color: #fff;
  }

  .navbar-collapse {
    background-color: #333;
    padding: 20px;
  }

  .navbar-nav > li > a {
    color: #fff;
    font-weight: bold;
    margin: 10px 0;
  }

  /* Adjust padding for the splash section on smaller screens */
  #splash {
    padding: 50px 0;
  }

  /* Adjust padding for the about section on smaller screens */
  #about {
    padding: 30px 0;
  }

  /* Adjust padding for the portfolio section on smaller screens */
  #portfolio {
    padding: 30px 0;
  }

  /* Adjust padding for the services section on smaller screens */
  #services {
    padding: 30px 0;
  }

  /* Adjust padding for the contact section on smaller screens */
  #contact {
    padding: 30px 0;
  }
}
